{% extends 'template.html' %}
{% load staticfiles%}
{% block content %}
<h3>FORM REGISTRASI RS CABANG</h3>
<form method="POST" class="post-form">
    <br>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock content %}
{% block js %}
{% endblock %}