{% extends 'template.html' %}
{% load staticfiles%}
{% block content %}
<h3>FORM RESERVASI SESI KONSULTASI</h3>
<form method="POST" class="post-form">
    <br>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock content %}
{% block js %}
<script>
    $(document).ready(function(){
        $("#no_rekam_medis_choices").change(function(){
            $.ajax({
                url: '',
                type: 'get',
                dataType: 'json',
                contentType: 'json',
                data: {
                    choices:  $("#no_rekam_medis_choices").val()
                },
                success: function(data){
                    var $transaksi_choices = $("#transaksi_choices");
                    $transaksi_choices.empty();
                    count = 0
                    for (i = 0; i < data.id_transaksi.length; i++){
                        value = data.id_transaksi[i]
                        $transaksi_choices.append('<option id=' + count++ + ' value=' + value + '>' + value + '</option>');
                    };
                },
                error: function (res) {
                     alert(res.status);                                                                                                                     
                }
                })
    })
    });
</script>
{% endblock %}