{% extends 'template.html' %}
{% load staticfiles%}
{% block content %}
<br>
<h3 class="text-center">LIST RS CABANG</h3>
<br>
<table class="table" id="table_ubah_laporan">
  <thead class="thead-light">
    <tr>
      <th class="text-center" scope="col">Kode RS</th>
      <th class="text-center" scope="col">Nama RS</th>
      <th class="text-center" scope="col">Tanggal Pendirian</th>
      <th class="text-center" scope="col">Jalan</th>
      <th class="text-center" scope="col">Nomor</th>
      <th class="text-center" scope="col">Kota</th>
      <th class="text-center" scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      {% for cell in respon %}
      <tr>
          <td class="text-center">{{cell.kode_rs}}</td>
          <td class="text-center">{{cell.nama}}</td>
          <td class="text-center">{{cell.tanggal_pendirian}}</td>
          <td class="text-center">{{cell.jalan}}</td>
          <td class="text-center">{{cell.nomor}}</td>
          <td class="text-center">{{cell.kota}}</td>
          <td>
          <a  class="btn btn-danger btn-sm" href="{% url 'trigger_1:delete_rs' cell.kode_rs %}">delete</a>
          <a class="btn btn-sm btn-outline-primary" href="{% url 'trigger_1:update_rs' cell.kode_rs %}"> Edit</a>
          </td>
      </tr>
      {% endfor %}
  </tbody>
</table>
{% endblock content %}
{% block js %}
{% endblock %}