{% extends 'template.html' %}
{% load staticfiles%}
{% block content %}
<br>
<h3 class="text-center">LIST SESI KONSULTASI</h3>
<br>
<table class="table" id="table_ubah_laporan">
                <thead class="thead-light">
                  <tr>
                    <th class="text-center" scope="col">ID Konsultasi</th>
                    <th class="text-center" scope="col">Nomor Pasien</th>
                    <th class="text-center" scope="col">Tanggal</th>
                    <th class="text-center" scope="col">Biaya</th>
                    <th class="text-center" scope="col">Status</th>
                    <th class="text-center" scope="col">ID Transaksi</th>
                  </tr>
                </thead>
                <tbody>
                    {% for cell in respon %}
                    <tr>
                        <td class="text-center">{{cell.id_konsultasi}}</td>
                        <td class="text-center">{{cell.no_rekam_medis_pasien}}</td>
                        <td class="text-center">{{cell.tanggal}}</td>
                        <td class="text-center">{{cell.biaya}}</td>
                        <td class="text-center">{{cell.status}}</td>
                        <td class="text-center">{{cell.id_transaksi}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock content %}
{% block js %}
{% endblock %}