{% extends 'template.html' %}
{% load staticfiles%}
{% block content %}
<form method="POST" class="post-form">
    <br>
    {% csrf_token %}
    <label>ID Konsultasi:</label>
    <input type="text" name="id_konsultasi" value="{{value.id_konsultasi}}" disabled></input>
    <br>
    <label>No Rekam Medis:</label>
    <input type="text" name="no_rekam_medis" value="{{value.no_rekam_medis_pasien}}" disabled></input>
    <br>
    <label>{{ form.tanggal.label_tag }}</label>
    {{form.tanggal}}
    <br>
    <label>Biaya:</label>
    <input type="text" name="biaya" value="{{value.biaya}}" disabled></input>
    <br>
    <label>{{ form.status.label_tag }}</label>
    {{form.status}}
    <br>
    <label>ID Transaksi:</label>
    <input type="text" name="id_transaksi" value="{{value.id_transaksi}}" disabled></input>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock content %}
{% block js %}
{% endblock %}