{% extends 'template.html' %}
{% load staticfiles%}
{% block content %}
<form method="POST" class="post-form">
    <br>
    {% csrf_token %}
    <label>Kode RS:</label>
    <input type="text" name="kode_rs" value="{{value.kode_rs}}" disabled></input>
    <br>
    {{ form.nama.label_tag }}
    {{ form.nama }}
    <br>
    {{ form.tanggal_pendirian.label_tag }}
    {{ form.tanggal_pendirian }}
    <br>
    {{ form.jalan.label_tag }}
    {{ form.jalan }}
    <br>
    {{ form.nomor.label_tag }}
    {{ form.nomor }}
    <br>
    {{ form.kota.label_tag }}
    {{ form.kota }}
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock content %}
{% block js %}
{% endblock %}