{% extends 'template.html' %}
{% load static %}
{% block content %}

<section class="half container-fluid flex-column flex-lg-row m-auto w-50">
    <h2 style="text-align: center">BUAT LAYANAN POLIKLINIK</h2>
    <br>
    <div class="schedule col-sm h-100 d-flex justify-content-center align-items-center">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <p class="w-100 justify-content-center my-4">{{ field.label }} {{ field }}</p>
            {% endfor %}

            <label for="daftar_jadwal">Daftar Jadwal</label>
            <a href="javascript:void(0);" class="add_button" style="float: right;" title="Add field">
                <button type="button" class="btn btn-info">&#9547</button>
            </a>

            <div class='d-flex flex-column' id='daftar_jadwal'>
                <div class="d-flex my-2" style="display: none; align-items: baseline;">
                    <input type="text" name="hari[]" class="form-control mx-1" maxlength="50" placeholder="Hari" required="">

                    <label for="jam_mulai">From</label>
                    <input id="jam_mulai" type="time" name="jam_mulai[]" class="form-control mx-1" required="">

                    <label for="jam_selesai">Until</label>
                    <input type="time" id="jam_selesai" name="jam_selesai[]" class="form-control mx-1" required="">

                    <input type="number" name="kapasitas[]" class="form-control mx-1" min="1" max="30" placeholder="Kapasitas" required="">

                    <a href="javascript:void(0);" class="remove_button ml-1">
                        <button type="button" class="btn btn-outline-info">
                            &#9932
                        </button>
                    </a>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a href="{% url 'list_layanan_poli' %}" id="submit" type="submit" value="Submit" class="btn btn-info mx-auto mt-3">
                    Submit
                </a>
            </div>
        </form>
    </div>
    <br>
</section>

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        var maxField = 10;
        var addButton = $('.add_button');
        var wrapper = $('#daftar_jadwal');
        var fieldHTML =
            '<div class="d-flex my-2" style="display: none; align-items: baseline;"><input type="text" name="hari[]" class="form-control mx-1" maxlength="50" placeholder="Hari" required=""><label for="jam_mulai">From</label> <input id="jam_mulai" type="time" name="jam_mulai[]" class="form-control mx-1" required=""><label for="jam_selesai">Until</label><input type="time" id="jam_selesai" name="jam_selesai[]" class="form-control mx-1" required=""><input type="number" name="kapasitas[]" class="form-control mx-1" min="1" max="30" placeholder="Kapasitas" required=""><a href="javascript:void(0);" class="remove_button ml-1"><button type="button" class="btn btn-outline-info">&#9932</button></a></div>';
        var x = 0;

        $(addButton).click(function () {
            if (x < maxField) {
                x++;
                $(fieldHTML).appendTo(wrapper).fadeIn();
            } else(
                alert("Sudah batas maksimal")
            )
        });

        $(wrapper).on('click', '.remove_button', function (e) {
            e.preventDefault();
            $(this).parent('div').fadeOut(300, function () {
                $(this).remove()
            })
            x--;
        });
    });
</script>
{% endblock %}