{% extends 'template.html' %}
{% load static %}
{% block content %}
{% if request.session.user.is_authenticated %}

<h2 style="text-align: center">LIST LAYANAN POLIKLINIK</h2>
<br>
<div class="table-responsive">
    <table class="table">
        <thead class="bg-info" style="text-align: center;">
            <tr>
                <th scope="col">ID Layanan Poliklinik</th>
                <th scope="col">Nama</th>
                <th scope="col">Deskripsi</th>
                <th scope="col">Kode RS</th>
                <th scope="col">Jadwal</th>
                {% if request.session.user.role == "Administrator" %}
                <th scope="col">Action</th>
                {% else %}
                {% endif %}
            </tr>
        </thead>
        <tbody style="text-align: center;">
            {% for layanan_poliklinik in list_layanan_poli %}
            <tr>
                <th>{{layanan_poliklinik.0}}</th>
                <td>{{layanan_poliklinik.2}}</td>
                <td>{{layanan_poliklinik.3}}</td>
                <td>{{layanan_poliklinik.1}}</td>
                <td>
                    <a href="{% url 'list_jadwal_poli' %}" class="btn btn-info mr-2">Lihat Jadwal</a>
                </td>

                {% if request.session.user.role == "Administrator" %}
                <td>
                    <a href="{% url 'update_layanan_poli' %}" class="btn btn-info mr-2">Update</a>
                    <a href="#" class="btn btn-outline-info">&#9932</a>
                </td>
                {% else %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}
{% endblock %}