{% extends 'template.html' %}
{% load static %}
{% block content %}
{% if request.session.user.is_authenticated %}

<h2 style="text-align: center">LIST JADWAL POLIKLINIK</h2>
<br>
<div class="table-responsive">
    <table class="table">
        <thead class="bg-info" style="text-align: center;">
            <tr>
                <th scope="col">ID Jadwal Poliklinik</th>
                <th scope="col">Hari</th>
                <th scope="col">Waktu Mulai</th>
                <th scope="col">Waktu Selesai</th>
                <th scope="col">Kapasitas</th>
                <th scope="col">ID Dokter</th>
                <th scope="col">ID Poliklinik</th>
                {% if request.session.user.role == "Administrator" %}
                <th scope="col">Action</th>
                {% else %}
                {% endif %}
            </tr>
        </thead>
        <tbody style="text-align: center;">
            {% for jadwal_layanan_poliklinik in list_jadwal_poli %}
            <tr>
                <th scope="row">{{jadwal_layanan_poliklinik.0}}</th>
                <td>{{jadwal_layanan_poliklinik.3}}</td>
                <td>{{jadwal_layanan_poliklinik.1}}</td>
                <td>{{jadwal_layanan_poliklinik.2}}</td>
                <td>{{jadwal_layanan_poliklinik.4}}</td>
                <td>{{jadwal_layanan_poliklinik.5}}</td>
                <td>{{jadwal_layanan_poliklinik.6}}</td>
                {% if request.session.user.role == "Administrator" %}
                <td>
                    <a href="{% url 'update_jadwal_poli' %}" class="btn btn-info mr-2">Update</a>
                    <a href="#" class="btn btn-outline-info">&#9932</a>
                </td>
                {% else %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}
{% endblock %}