{% extends 'template.html' %}
{% load static %}
{% block content %}
{% if request.session.user.is_authenticated %}

<h2 style="text-align: center">LIST DOKTER RS CABANG</h2>
<br>
<div class="table-responsive">
    <table class="table">
        <thead class="bg-info" style="text-align: center;">
            <tr>
                {% if request.session.user.role == "Administrator" %}
                <th scope="col">Kode RS Cabang</th>
                <th scope="col">ID Dokter</th>
                <th scope="col">Action</th>
                {% else %}
                <th scope="col">Kode RS Cabang</th>
                <th scope="col">ID Dokter</th>
                {% endif %}
            </tr>
        </thead>
        <tbody style="text-align: center;">
            {% for dokter_rs_cabang in list_dokter %}
            <tr>
                <td>{{dokter_rs_cabang.0}}</td>

                <!-- Harus unik dalam satu tabel. Misal: pada contoh di atas dilarang
                ada 2 baris berisi {RSPI} - RT dan {RSPI} - ADI sekaligus. Harus berupa {RSPI} - RT, ADI. -->
                <td>
                    <ul style="list-style-type: none; padding-inline-start: 0px;">
                        <li>{{dokter_rs_cabang.1}}</li>
                    </ul>
                </td>

                {% if request.session.user.role == "Administrator" %}
                <td>
                    <a href="{% url 'update_dokter_rscbg' %}" class="btn btn-info mr-2">Update</a>
                    <a href="#" class="btn btn-outline-info">&#9932</a>
                </td>
                {% else %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}
{% endblock %}