{% extends 'template.html' %}
{% load static %}
{% block content %}
{% if request.session.user.is_authenticated %}
{% if request.session.user.role == "Administrator" %}

<section class="half container-fluid flex-column flex-lg-row m-auto w-50">
    <h2 style="text-align: center">UPDATE DOKTER RS CABANG</h2>
    <br>
    <div class="schedule col-sm h-100 d-flex justify-content-center align-items-center">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <p class="w-100 justify-content-center mb-1 mt-4">{{ field.label }} XXXXXX</p>
            <div class="justify-content-center" style="text-align: center;">
                <p class="mb-1">&#8693</p>
                <p class="mt-0 mb-3">{{ field }}</p>
            </div>
            {% endfor %}
            <div class="d-flex justify-content-center">
                <a href="{% url 'list_dokter_rscbg' %}" id="submit" type="submit" value="Submit" class="btn btn-info mx-auto mt-3">
                    Update
                </a>
            </div>
        </form>
    </div>
    <br>
</section>

{% else %}
<p>Maaf, Anda bukan Administrator</p>
{% endif %}
{% else %}
<p>Maaf, Anda harus login terlebih dahulu.</p>
{% endif %}
{% endblock %}