{% extends 'template.html' %}
{% load static %}
{% block content %}

<section class="half container-fluid flex-column flex-lg-row m-auto w-50">
    <h2 style="text-align: center">UPDATE JADWAL POLIKLINIK</h2>
    <br>
    <div class="schedule col-sm h-100 d-flex justify-content-center align-items-center">
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <p class="w-100 justify-content-center mb-1 mt-4">{{ field.label }}</p>
            <div class="justify-content-center" style="text-align: center;">
                <p class="mb-1">XXXXXX</p>
                <p class="mb-1">&#8693</p>
                <p class="mt-0 mb-3">{{ field }}</p>
            </div>
            {% endfor %}

            <label class="mb-1 mt-4" for="id_poli">ID Jadwal Poliklinik :</label>
            <input class="form-control mt-0 mb-3" id="disabledInput" type="text" placeholder="1" disabled>

            <div class="d-flex justify-content-center">
                <a href="{% url 'list_jadwal_poli' %}" id="submit" type="submit" value="Submit" class="btn btn-info mx-auto mt-3">
                    Update
                </a>
            </div>
        </form>
    </div>
    <br>
</section>

{% endblock %}
