{% extends 'template.html' %}
{% load static %}
{% block content %}
<div class="main">
    <div class="my-5 landing-text">
        <h1>MedikaGO:</h1>
        <h2>Layanan Medis Super Cepat dan Mudah </h2>
        <p style="font-size: 12pt;" class="my-3">Sebuah inovasi platform online yang mempermudah kamu berkonsultasi dan mendiagnosa
            kesehatanmu dengan tim profesional di luar sana.
        </p>
        {% if request.session.user.is_authenticated %}
        {% else %}
        <a href="/daftar" class="my-4 px-5 py-2 btn btn-info">Daftar</a>
        {% endif %}
    </div>
    <img src="{% static 'landing-img.svg' %}" alt="" id="landing-img">
</div>
{% endblock %}
