{% extends 'template.html' %}
{% load static %}
{% block content %}
{% if request.session.user.is_authenticated %}
<a href="/">kembali ke halaman utama</a>
{% else %}
<div class="content-login">
    <div class="box-container flex-col-center min30vw">
        <div class="logo-container m-5">
            <a href="{% url 'landing' %}">
                <img src="{% static 'logo.svg' %}" alt="" id="logo">
            </a>
        </div>
        <div class="form-container ">
            <form action="" method="POST" class="flex-col-center">
                {% csrf_token %}
                <div class="form-unit my-1 mx-4">
                    <label for="username">Username:</label>
                    {{form.username}}
                </div>
                
                <div class="form-unit my-1 mx-4">
                    <label for="password">Password:</label>
                    {{form.password}}
                </div>

                <div class="form-unit mt-3 mb-5 mx-4 ">
                    <button type="submit" class="btn btn-submit">Masuk</button>
                </div>

            </form>
        </div>
    </div>

    <div class="box-container flex-col-center min30vw mt-3">
        <p style="font-size: 12pt;" class='m-4'>Belum punya akun? <a href="/daftar">Buat akun</a></p>
    </div>
</div>
{% endif %}

{% endblock %}