{% extends 'template.html' %}
{% load staticfiles%}
{% block content %}
{% if request.session.user.is_authenticated %}
<a href="/">kembali ke halaman utama</a>
{% else %}
    <div class="container col-6 border">
        <div class="container form-container">
            <div class="container form-head">
                <img src="" alt="" class="img-fluid">
                <p class="text-center">Kamu mau daftar sebagai apa ?</p>
            </div>
            <div class="container form-content">
                <div class="role-button d-flex dokter">
                    <img src="{% static 'logo-dokter.svg' %}" alt="" class="img-fluid form-role-logo">
                    <p class="">Dokter</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ dokter_form.as_p }}
                    </form>
                </div>
                <div class="role-button d-flex admin">
                    <img src="{% static 'logo-admin.svg' %}" alt="" class="img-fluid form-role-logo">
                    <p>Admin</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ admin_form.as_p }}
                    </form>
                </div>
                <div class="role-button d-flex pasien">
                    <img src="{% static 'logo-pasien.svg' %}" alt="" class="img-fluid form-role-logo">
                    <p>Pasien</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ pasien_form.as_p }}
                    </form>
                </div>

            </div>
            <div class="container form-footer justify-content-between d-flex">
                <a href="" class="back-button">
                </a>
                <div class="progressbar">
                    <span class="dot current"></span>
                    <span class="dot"></span>
                </div>
                <div class="submit-button">
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}
{% block js %}
<script src="{% static 'signup.js' %}"></script>
{% endblock %}