<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MedikaGO</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|PT+Serif:400,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="text-align: center;">
        <a class="navbar-brand" href="{% url 'landing' %}">
            <img src="{% static 'logo.svg' %}" alt="" id="logo" class="my-2">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active mx-1">
                    <a class="nav-link" href="{% url 'landing' %}">Home <span class="sr-only">(current)</span></a>
                </li>   

                {% if request.session.user.is_authenticated %}
                <li class="nav-item mx-1">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                          RS Cabang
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% if request.session.user.role == "Administrator" %}
                            <a class="dropdown-item" href="#">Buat RS Cabang</a>
                            <a class="dropdown-item" href="{% url 'trigger_1:rs_cabang' %}">List RS Cabang</a>
                            <a class="dropdown-item" href="{% url 'daftarkan_dokter' %}">Daftarkan Dokter</a>
                            <a class="dropdown-item" href="{% url 'list_dokter_rscbg' %}">List Dokter RS Cabang</a>
                            <a class="dropdown-item" href="#">Daftarkan Administrator</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'trigger_1:rs_cabang' %}">List RS Cabang</a>
                            <a class="dropdown-item" href="{% url 'list_dokter_rscbg' %}">List Dokter RS Cabang</a>
                            {% endif %}
                        </div>
                    </div>
                </li>

                <li class="nav-item mx-1">
                    {% if request.session.user.role == "Administrator" %}
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Sesi Konsultasi
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'trigger_1:reservasi_sesi_konsultasi' %}">Buat Sesi Konsultasi</a>
                            <a class="dropdown-item" href="{% url 'trigger_1:sesi_konsultasi' %}">List Sesi Konsultasi</a>
                        </div>
                    </div>
                    {% else %}
                    <a class="nav-link" href="{% url 'trigger_1:sesi_konsultasi' %}">Sesi Konsultasi</a>
                    {% endif %}
                </li>

                <li class="nav-item mx-1">
                    <a class="nav-link" href="/tindakan">Tindakan</a>
                </li>

                <li class="nav-item mx-1">
                    <a class="nav-link" href="/tindakanpoli">Tindakan Poli</a>
                </li>

                {% if request.session.user.role == "Administrator" %}
                <li class="nav-item mx-1">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                           Poliklinik
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'buat_layanan_poli' %}">Buat Layanan Poliklinik</a>
                            <a class="dropdown-item" href="{% url 'list_layanan_poli' %}">List Layanan Poliklinik</a>
                            <a class="dropdown-item" href="/">Buat Jadwal Poliklinik</a>
                            <a class="dropdown-item" href="{% url 'list_jadwal_poli' %}">List Jadwal Poliklinik</a>
                        </div>
                    </div>
                </li>
                {% endif %}

                
                <li class="nav-item mx-1" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <div class="btn-group nav-item mx-1" >
                        <a style="margin: 0; cursor: pointer;" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Resep & Obat
                        </a>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="/resep-obat">Apotek</a>
                          <div class="dropdown-divider"></div>
                          {% if request.session.user.role == "Administrator" %}
                          <a class="dropdown-item" href="/resep-obat/resep/buat">Buat Resep</a>
                          {% endif %}   
                          <a class="dropdown-item" href="/resep-obat/resep">Cek Resep</a>
                          <div class="dropdown-divider"></div>
                          {% if request.session.user.role == "Administrator" %}
                          <a class="dropdown-item" href="/resep-obat/obat/buat">Buat Obat</a>
                          {% endif %}   
                          <a class="dropdown-item" href="/resep-obat/obat">Cek Obat</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item mx-1">
                    <a class="nav-link" href="/">Transaksi</a>
                </li>
                {% endif %}  

                {% if request.session.user.is_authenticated %}
                <li class="nav-item mx-1">
                    <b><a class="nav-link" href="/">Profil</a></b>
                </li>
                <li class="nav-item mx-1">
                    <b><a class="nav-link" href="/keluar">Keluar</a></b>
                </li>
                {% else %}
                <li class="nav-item mx-1">
                    <b><a class="nav-link" href="/masuk">Masuk</a></b>
                </li>
                <li class="nav-item mx-1">
                    <b><a class="nav-link" href="/daftar">Daftar</a></b>
                </li>
                {% endif %}

            </ul>
        </div>
    </nav>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/query.js"></script>
    <script src="{% static 'datepicker.js'%}"></script>
    <script>

    </script>
        {% block js %}
        {% endblock %}

</body>

</html>