{% extends 'template.html' %}
{% load static %}
{% block content %}
{% if request.session.user.is_authenticated %}
<div class='main-bg'>
    <h1 style="font-size:28pt">Selamat Datang di Resep dan Obat!</h1>
    <p class='mt-1' style="width: 450px; text-align: center;">Mulailah scroll ke bawah untuk melihat obat-obatan dan
        resep terkini apa saja yang ada di aplikasi kami.</p>
    <div class="my-3">
        <a href="/resep-obat/obat" class="btn btn-info mx-1 px-5 py-2">Cek Obat</a>
        <a href="/resep-obat/resep" class="btn btn-secondary mx-1 px-5 py-2">Cek Resep</a>
    </div>
    <p class="mt-2" style="font-size: 10pt;">*Syarat dan Ketentuan Berlaku.</p>
</div>
<div class="main-2">
    <div class="div">
        <div class="section">
            <div class="section-head">
                <h2>Resep Pengobatan</h2>
                <p>Kumpulan resep obat-obatan untuk konsultasi anda.</p>
            </div>
            <div class="section-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nomor Resep</th>
                            <th scope="col">Total Harga</th>
                            <th scope="col">ID Konsultasi</th>
                            <th scope="col">ID Transaksi</th>
                            <th scope="col">Daftar Obat</th>
                            {% if request.session.user.role == "Administrator" %}
                            <th scope="col">Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for resep in resep_list %}
                        <tr>
                            <th scope="row">{{resep.1}}</th>
                            <td>Rp{{resep.2}}</td>
                            <td>{{resep.0}}</td>
                            <td>{{resep.3}}</td>
                            <td>
                                <ul>
                                    {% for item in daftar_obat %}
                                    {% if item.0 == resep.1 %}
                                    {% for kode in item.1 %}
                                            <li>{{kode}}</li>
                                        {% endfor %}
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </td>
                            
                            {% if request.session.user.role == "Administrator" %}
                            <td>
                                <form action="{% url 'delete_resep' resep.1 %}" method="POST">
                                    <div style="display: flex; flex-direction: column;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger my-1 px-5 py-2">Delete</button>
                                    </div>  
                                    </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            {% if request.session.user.role == "Administrator" %}
            <a href="/resep-obat/resep/buat" class="btn btn-success px-5 py-2">Buat Resep</a>
            {% endif %}
        </div>
        <div class="section my-4">
            <div class="section-head">
                <h2>Koleksi Obat</h2>
                <p>Database obat-obatan terkini untuk pasien dan dokter.</p>
            </div>
            <div class="section-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Kode</th>
                            <th scope="col">Stok</th>
                            <th scope="col">Harga</th>
                            <th scope="col">Komposisi</th>
                            <th scope="col">Bentuk Sediaan</th>
                            <th scope="col">Merk Dagang</th>
                            {% if request.session.user.role == "Administrator" %}
                            <th scope="col">Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for obat in obat_list %}
                        <tr>
                            <th scope="row">{{obat.0}}</th>
                            <td>{{obat.1}}</td>
                            <td>Rp{{obat.2}}</td>
                            <td>{{obat.3}}</td>
                            <td>{{obat.4}}</td>
                            <td>{{obat.5}}</td>
                            {% if request.session.user.role == "Administrator" %}
                            <td>
                                <div style="display: flex; flex-direction: column;" class="div">
                                    <a href="{% url 'update_obat' obat.0 %}" class="btn btn-warning my-1 px-5 py-2">Update</a>
                                </div>
                                <form action="{% url 'delete_obat' obat.0 %}" method="POST">
                                    <div style="display: flex; flex-direction: column;" class="div">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger my-1 px-5 py-2">Delete</button>
                                    </div>  
                                    </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if request.session.user.role == "Administrator" %}
            <a href="/resep-obat/obat/buat" class="btn btn-success px-5 py-2">Buat Obat</a>
            {% endif %}
        </div>
    </div>
</div>
{% else %}
<p>Maaf anda harus login terlebih dahulu untuk mengakses fitur ini.</p>
{% endif %}
{% endblock %}