{% extends 'template.html' %}
{% load static %}
{% block content %}
{% if request.session.user.is_authenticated %}
{% if request.session.user.role == "Administrator" %}
    <div class="registration-section">
        <div class="registration-form">
            <div class="section-head">
                <h2>Form Update Obat</h2>
                <p>Isi form berikut untuk mengubah deskripsi jenis obat-obatan terbaru.</p>
            </div>
            <div class="form-container mt-5 ">
                <form action="{% url 'update_obat' kode %}" method="POST">
                    {% csrf_token %}
                    <div class="form-unit my-1">
                        <label for="kode">Kode Obat:</label>
                        {{form.kode}}
                    </div>
                    <div class="form-unit my-1">
                        <label for="stok">Stok:</label>
                        {{form.stok}}
                    </div>
                    <div class="form-unit my-1">
                        <label for="harga">Harga:</label>
                        {{form.harga}}
                    </div>
                    <div class="form-unit my-1">
                        <label for="komposisi">Komposisi:</label>
                        {{form.komposisi}}
                    </div>
                    <div class="form-unit my-1">
                        <label for="sediaan">Bentuk Sediaan:</label>
                        {{form.sediaan}}
                    </div>
                    <div class="form-unit my-1">
                        <label for="merk">Merk Perdagangan:</label>
                        {{form.merk}}
                    </div>
                    <div class="form-unit mt-4 mb-5">
                        <button type="submit" class="btn btn-submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="registration-decoration">

        </div>
    </div>
    {% else %}
    <p>Maaf anda bukan Administrator</p>
    {% endif %}
    {% else %}
    <p>Maaf anda harus login terlebih dahulu.</p>
{% endif %}
{% endblock %}