{% extends 'template.html' %}
{% load static %}
{% block content %}
<div class="main-2">
    {% if request.session.user.is_authenticated %}
    <div class="section">
        <div class="section-head">
            <h2>Koleksi Obat</h2>
            <p>Database obat-obatan terkini untuk pasien dan dokter.</p>
        </div>
        <div class="section-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Kode</th>
                        <th scope="col">Stok</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Komposisi</th>
                        <th scope="col">Bentuk Sediaan</th>
                        <th scope="col">Merk Dagang</th>
                        {% if request.session.user.role == "Administrator" %}
                        <th scope="col">Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for obat in obat_list %}
                    <tr>
                        <th scope="row">{{obat.0}}</th>
                        <td>{{obat.1}}</td>
                        <td>Rp{{obat.2}}</td>
                        <td>{{obat.3}}</td>
                        <td>{{obat.4}}</td>
                        <td>{{obat.5}}</td>
                            {% if request.session.user.role == "Administrator" %}
                        <td>
                            <div style="display: flex; flex-direction: column;" class="div">
                                <a href="{% url 'update_obat' obat.0 %}" class="btn btn-warning my-1 px-5 py-2">Update</a>
                            </div>
                            <form action="{% url 'delete_obat' obat.0 %}" method="POST">
                                <div style="display: flex; flex-direction: column;" class="div">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger my-1 px-5 py-2">Delete</button>
                                </div>  
                                </form>
                        </td>
                        {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
    
                </tbody>
            </table>
        </div>
        {% if request.session.user.role == "Administrator" %}
        <a href="/resep-obat/obat/buat" class="btn btn-success px-5 py-2">Buat Obat</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}