{% extends 'template.html' %}
{% load static %}
{% block content %}
<div class="main-2">
    {% if request.session.user.is_authenticated %}
    <div class="section">
        <div class="section-head">
            <h2>Resep Pengobatan</h2>
            <p>Kumpulan resep obat-obatan untuk konsultasi anda.</p>
        </div>
        <div class="section-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nomor Resep</th>
                        <th scope="col">Total Harga</th>
                        <th scope="col">ID Konsultasi</th>
                        <th scope="col">ID Transaksi</th>
                        <th scope="col">Daftar Obat</th>
                        {% if request.session.user.role == "Administrator" %}
                        <th scope="col">Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for resep in resep_list %}
                    <tr>
                        <th scope="row">{{resep.1}}</th>
                        <td>Rp{{resep.2}}</td>
                        <td>{{resep.0}}</td>
                        <td>{{resep.3}}</td>
                        <td>
                            <ul>
                                {% for item in daftar_obat %}
                                {% if item.0 == resep.1 %}
                                {% for kode in item.1 %}
                                        <li>{{kode}}</li>
                                    {% endfor %}
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                        {% if request.session.user.role == "Administrator" %}
                        <td>
                            <form action="{% url 'delete_resep' resep.1 %}" method="POST">
                                <div style="display: flex; flex-direction: column;">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger my-1 px-5 py-2">Delete</button>
                                </div>  
                                </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
    
                </tbody>
            </table>
        </div>
        
        {% if request.session.user.role == "Administrator" %}
        <a href="/resep-obat/resep/buat" class="btn btn-success px-5 py-2">Buat Resep</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}