{% extends 'template.html' %}
{% load static %}
{% block content %}
{% if request.session.user.is_authenticated %}
{% if request.session.user.role == "Administrator" %}
    <div class="registration-section">
        <div class="registration-form">
            <div class="section-head">
                <h2>Form Pembuatan Resep</h2>
                <p>Isi form berikut untuk membuat resep baru.</p>
            </div>
            <div class="form-container mt-5 ">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-unit my-1">
                        <label for="id-konsultasi">ID Konsultasi:</label>
                        {{form.id_konsultasi}}
                    </div>
                    <div class="form-unit my-1">
                        <label for="id-transaksi">ID Transaksi:</label>
                        {{form.id_transaksi}}
                    </div>
                    <div class="form-unit my-1">
                        <label for="">Daftar Obat:</label>
                        {% for obat in daftar_obat %}
                        {{form.obat}}
                        {% endfor %}
                    </div>
                    <div class="form-unit mt-4 mb-5">
                        <button type="submit" class="btn btn-submit">Buat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <p>Maaf anda bukan Administrator</p>
    {% endif %}
{% else %}
    <p>Maaf anda tidak bisa menggunakan fitur ini.</p>
{% endif %}
{% endblock %}