
body {
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    color: #2c2c2c;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    min-height: 100vh;

}

label{
    font-size: 11pt;
}

h1{
    font-size: 56px;
    font-weight: 700;
}

h2{
    font-size: 24px;
    font-weight: 700;
}

.navbar {
    background: #FFFFFF;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    padding: .1rem 3rem;
}

.main{
    margin:3.5rem 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.main-2{
    margin:3.5rem 4rem;
}

.form-custom{
    border-radius: 2px!important;
    min-width: 25vw;
}

.box-container{
    border: 0.09px solid #cacaca;
    background-color: #fbfbfb;
}

.table, .table-border{
    flex-grow: 1;
}


.btn-submit{
    min-width: 25vw;
    padding: 8px 20px;
    color: #FFFFFF;
    background-color: #2f2f2f;
    border-radius: 2px;
}

.registration-form{
    width: 500px;
    padding: 4rem;
}

.content-login{    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: auto;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('hospital.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.min30vw{
    min-width: 30vw;
}

.flex-col-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.min30vw{
    min-width: 30vw;
}


.landing-text{
    width: 600px;
}

.nav-item{
    font-size: 12pt;
}

.section{
    overflow: hidden;
}

.section-body{
    display: flex;
    flex-direction: column;
}

.section-head{  
    padding-left: 1rem;
    border-left: #2f2f2f;
    border-left-style: solid;
    border-width: 3px;
}

.main-bg {
    color: #fbfbfb;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 72.5vh;
    width: auto;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('drug.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#landing-img{
    height: 450px!important;
}

#logo{
    height: 30px!important;
}

