.dot {
    height: 8px;
    width: 8px;
    background-color: white;
    border-color: grey;
    border-radius: 50%;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
  }

.current{
  background-color: #03AC0E;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.form-role-logo{
  width: 40px;
  height: 40px;
}